h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: Harsh;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Harsh{
    from{
        box-shadow: 1px 1px 38px orangered;
    }
    to{
        box-shadow: 1px 1px 38px yellowgreen;
    }
}